.typing-text-container {
    text-align:center;
    /* font-family: 'Source Code Pro', monospace; */
    /* color:white; */
}

.typing-cursor p {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
}

.typing-cursor::after {
    content:'';
    display:inline-block;
    margin-left:3px;
    background-color:white;
    animation-name:blink;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
  }
  
  .typing-text.cursor::after {
    height:24px;
    width:13px;
  }
  
  @keyframes blink {
    0% {
      opacity:1;
    }
    49% {
      opacity:1;
    }
    50% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
}